<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>About Us</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <h3>Welcome!</h3>
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="30" fxFlexOffset="20px">


              <h4>We are passionate about food, and about the moments of personal connection that are built around food. We are proud to serve simple, healthy and authentic Korean food as served in Korea.</h4>


               <p></p>

            </div>

            <div fxFlex="50">
                  <h4>Map of our Location</h4>
            </div>
        </div>
    </div>



</div>
